@import "./base/variables";
@import "./base/functions";

* {
  padding: 0;
  border: 0;
  margin: 0;
}

html, body, a, input, textarea {
  font-family: "Roboto", sans-serif, Tahoma, Geneva, Verdana;
  color: $textColor;
}

html {
  height: 100vh;
}

ul, ol, li {
  list-style: none;
}

body {
  min-height: 100%;
  background: $backgroundColor;
}

a {
  text-decoration: none;
}

input,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.mw {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
  margin: 0 auto;
}

.mh {
  min-height: calc(100vh - 81px - 67px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation__fadeIn {
  animation: fadeIn 2s;
}

.internal__error {
  padding: 10px 0;
  color: $defaultAppColor;
}

.products__box__container {
  padding: 20px 0;
  .products__box__content {
    h4 {
      padding: 20px 0;
      font-size: em(24);
    }
    .products__box__items {
      padding: 20px 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
      row-gap: 20px;
    }
  }
}

@media(max-width: 950px) {
  .products__box__container .products__box__content .products__box__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 800px) {
  .products__box__container .products__box__content .products__box__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 450px) {
  .products__box__container .products__box__content .products__box__items {
    grid-template-columns: 1fr;
  }
}

.not__found__container .not__found__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .title {
    font-size: em(30);
    font-weight: 500;
    margin-bottom: 10px;
  }
  > span {
    margin-top: 5px;
  }
  .btn {
    margin-top: 20px;
  }
}