@import "./base/variables";

* {
  padding: 0;
  border: 0;
  margin: 0;
}

html, body, a, input, textarea {
  font-family: "Roboto", sans-serif, Tahoma, Geneva, Verdana;
  color: $textColor;
}

html {
  height: 100vh;
}

ul, ol, li {
  list-style: none;
}

body {
  min-height: 100%;
  background: $backgroundColor;
}

a {
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

.mw {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
  margin: 0 auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation__fadeIn {
  animation: fadeIn 2s;
}

.internal__error {
  padding: 10px 0;
  color: $defaultAppColor;
}