@mixin boxShadow($offset: 5px 10px, $blur: 20px, $opacity: 0.4) {
  -webkit-box-shadow: $offset $blur rgba(0,0,0,$opacity);
  -moz-box-shadow: $offset $blur rgba(0,0,0,$opacity);
  box-shadow: $offset $blur rgba(0,0,0,$opacity);
}

@mixin transition($offset: all, $delay: 0.5s) {
  -webkit-transition: $offset $delay;
  -moz-transition: $offset $delay;
  transition: $offset $delay;
}

@mixin radius($top: 4px, $right: 4px, $bottom: 4px, $left: 4px, $all: 0) {
  @if $all != 0 {
    $top: $all;
    $right: $all;
    $bottom: $all;
    $left: $all;
  }

  -webkit-border-radius: $top $right $bottom $left;
  -moz-border-radius: $top $right $bottom $left;
  border-radius: $top $right $bottom $left;
}